<a href="https://colab.research.google.com/github/DINESH-cell-space/python-with-colab/blob/main/python_basic_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os # importing the operating system package
os.getcwd() # cwd stands for current working directory
os.chdir('content/sample_data')

'/content'

# **variables and data types**

In [ ]:
x = int(input("Enter a number: "))
for i in range(x + 1):
  print(i)

Enter a number: 5
0
1
2
3
4
5

**[bold text](https://)**# list

In [ ]:
a='is'
b='nice'
mylist=['my','list',a,b]
mylist2=[['4,5,6,7'],[3,4,5,6]]
mylist
mylist2

['my', 'list', 'is', 'nice']

In [ ]:
x=[1,2,3,4,5]
y=[10,20,30]
z=[x,y] #to include two list seperated by comma
print (z)
u = x + y #to concatenate two lists
print (u) # python list is a zero indexed

[[1, 2, 3, 4, 5], [10, 20, 30]]
[1, 2, 3, 4, 5, 10, 20, 30]

# **Accessing the elements of the list**

In [ ]:
x[0]

1

# select first inclusive to the third exclusive

In [ ]:
x[0:5]

[1, 2, 3, 4, 5]

In [ ]:
# select the second to the end of k1 =['a','b','c']
x[2:]

[3, 4, 5]

In [ ]:
x[:3]

[1, 2, 3]

In [ ]:
print(x*3)
print(x+x)
mylist[1][:2]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

'li'

# operators in python

In [ ]:
a=105
b=125
c=a+b
print(c)

230

In [ ]:
25%4

1

In [ ]:
22/6

3.6666666666666665

# Assignment operator

In [ ]:
a=5  # Assign of a value to the variable
print(a)
x=[1,2,3,4,5,6,7,8,9]  # This is a list
x[0]=0 # Assign the index 0 =1 in the list
print(x[0])
print (x)

5
0
[0, 2, 3, 4, 5, 6, 7, 8, 9]

# Relational operator

In [ ]:
3==3 #relational operator
2!=3

True

In [ ]:
2!=3

True

In [ ]:
3>2

True

In [ ]:
4<=3

False

# Logical operator like dlc

In [ ]:
not (2==7)

True

In [ ]:
(1!=1)and (2>=1) # and operator the both condition should satisify

False

In [ ]:
x={"name":"kavi" ,"age" : 19 ,"grade": "A+"}
print(x)

{'name': 'kavi', 'age': 19, 'grade': 'A+'}

# List Metod

In [ ]:
x=['a','e','i','o','u']

In [ ]:
x.index('i')

2

In [ ]:
x.count('a')

1

In [ ]:
x.append("n")
print(x)

['a', 'e', 'i', 'o', 'u', 'n', 'n', 'n', 'n', 'n', 'n', 'n']

# String Operator

In [ ]:
a="SARAVAlAN"
a

'SARAVAlAN'

In [ ]:
a[4]

'V'

In [ ]:
a[3:7]

'AVAl'

In [ ]:
a*4

'SARAVAlANSARAVAlANSARAVAlANSARAVAlAN'

# List processing in python
steps:
step 1: create a empty list
step2:keep the total variable string at 0
sep3:loop through each number
step4:add to total ,append total to result

In [ ]:
def runningSum(nums):
  result=[]#Empty list
  total=0 #Initialise total to zero
  for n in nums:#stat the loop for running sum
    total += n#add the value to total
    result.append(total)#append the sum to result list
  return(result)
print(runningSum([10,-20,5,1]))

[10, -10, -5, -4]

In [ ]:
def runningSum(nums):
  total=0
  for n in nums:
    total += n
  return(total)
print(runningSum([10,20,5,1]))

36

In [ ]:
def runningSum(nums):
  count=0
  for n in nums:
    if n%2==0:
      count+=1
  return(count)
print(runningSum([10,20,52,1]))

3

In [ ]:
def reverselist(nums):
  return nums[::-1]
print(reverselist([1,2,3,4]))
my_list = [10,5,1,0,-67]
print(my_list[::2])#the list slices from the beginning to end, taking every second element
print(my_list[::3])
print(my_list[::-2])
print(my_list[::-3])

[4, 3, 2, 1]
[10, 1, -67]
[10, 0]
[-67, 1, 10]
[-67, 5]

# :: in Python enables flexibles extraction and manipuation of sequence elements.

In [ ]:
#Find maximum number in the list
def FindMax(nums):
  max_num = nums[0]
  for n in nums:
    if n>max_num:
      max_num = n
  return max_num
print(FindMax([3,7,2,9,5]))

9

In [ ]:
#Find minimum number in the list
def FindMin(nums):
  min_num = nums[0]
  for n in nums:
    if n<min_num:
      min_num = n
  return min_num
print(FindMin([3,7,2,9,5]))

2

In [ ]:
def FindMax(nums):
  max_num = nums[0]
  for n in nums:
    if n>max_num:
      max_num = n
      return max_num
    else :
      min_num = n
      return min_num

# maximum deposit of a customer account

In [ ]:
def maxdeposit(account):
  return maxdeposit(sum(cust)for cust in account)
  print(maxdeposit(([100,53],[3,60])))

In [ ]:
def twoSum(nums,target):
  seen={}
  for i,n in enumerate(nums):
    diff = target - n
    if diff in seen:
      return[seen[diff],i]
    seen[n]=i
    print(seen)
    print(twoSum([2,7,11,15],26))